{% extends "admin/change_form.html" %}
{% load i18n admin_modify adminmedia %}

{% block title %}Create orders{% endblock %}
{% block extrahead %}{{ shipping_service_forms.0.forms.media }}{% endblock %}
{% block content_title %}Content title{% endblock %}
{% block content %}
{% for order in shipping_service_forms %}
    <h2>{{ order.order_shipping }}</h2>
    <form method="post">
    {% csrf_token %}
        <div class="inline-group" id="{{ order.forms.prefix }}-group">
        <h2>Parcels</h2>
        {{ order.forms.management_form }}
        {% for form in order.forms %}
            <div class="inline-related dynamic-{{ order.forms.prefix }}{% if forloop.last %} empty-form last-related{% endif %}" id="{{ order.forms.prefix }}-{% if not forloop.last %}{{ forloop.counter0 }}{% else %}empty{% endif %}">
                <h3>
                    <b>Parcel <span class="inline_label">#{{ forloop.counter }}</span></b>
                </h3>
                <fieldset class="module aligned">
                {% for field in form %}
                    <div class="form-row {{ field.name }}">
                        <div {% if field.errors %}class="errors"{% endif %}>
                            {{ field.errors }}
                            {% if field.is_checkbox %}
                                {{ field.field }}{{ field.label_tag }}
                            {% else %}
                                {{ field.label_tag }}
                                {% if field.is_readonly %}
                                    <p>{{ field.contents }}</p>
                                {% else %}
                                    {{ field }}
                                {% endif %}
                            {% endif %}
                            {% if field.help_text %}
                                <p class="help">{{ field.field.help_text|safe }}</p>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
                </fieldset>
            </div>
        {% endfor %}
        {% with inline_admin_formset=order.forms %}
            <script type="text/javascript">
                (function($) {
                    $(document).ready(function() {
                        var rows = "#{{ order.forms.prefix }}-group .inline-related";
                        var updateInlineLabel = function(row) {
                            $(rows).find(".inline_label").each(function(i) {
                                var count = i + 1;
                                $(this).html($(this).html().replace(/(#\d+)/g, "#" + count));
                            });
                        }
                        var reinitDateTimeShortCuts = function() {
                            // Reinitialize the calendar and clock widgets by force, yuck.
                            if (typeof DateTimeShortcuts != "undefined") {
                                $(".datetimeshortcuts").remove();
                                DateTimeShortcuts.init();
                            }
                        }
                        var updateSelectFilter = function() {
                            // If any SelectFilter widgets were added, instantiate a new instance.
                            if (typeof SelectFilter != "undefined"){
                                $(".selectfilter").each(function(index, value){
                                    var namearr = value.name.split('-');
                                    SelectFilter.init(value.id, namearr[namearr.length-1], false, "{% admin_media_prefix %}");
                                });
                                $(".selectfilterstacked").each(function(index, value){
                                    var namearr = value.name.split('-');
                                    SelectFilter.init(value.id, namearr[namearr.length-1], true, "{% admin_media_prefix %}");
                                });
                            }
                        }
                        var initPrepopulatedFields = function(row) {
                            row.find('.prepopulated_field').each(function() {
                                var field = $(this);
                                var input = field.find('input, select, textarea');
                                var dependency_list = input.data('dependency_list') || [];
                                var dependencies = [];
                                $.each(dependency_list, function(i, field_name) {
                                    dependencies.push('#' + row.find(field_name).find('input, select, textarea').attr('id'));
                                });
                                if (dependencies.length) {
                                    input.prepopulate(dependencies, input.attr('maxlength'));
                                }
                            });
                        }
                        $(rows).formset({
                            prefix: "{{ order.forms.prefix }}",
                            addText: "{% blocktrans %}Add another parcel{% endblocktrans %}",
                            formCssClass: "dynamic-{{ order.forms.prefix }}",
                            deleteCssClass: "inline-deletelink",
                            deleteText: "{% trans "Remove" %}",
                            emptyCssClass: "empty-form",
                            removed: updateInlineLabel,
                            added: (function(row) {
                                initPrepopulatedFields(row);
                                reinitDateTimeShortCuts();
                                updateSelectFilter();
                                updateInlineLabel(row);
                            })
                        });
                    });
                })(django.jQuery);
            </script>
            {% endwith %}
        </div>
    {% submit_row %}
    </form>
{% endfor %}
{% endblock %}
